.searchImgStyle{
    position: relative;
    z-index: 100;
    width: 0.73vw;
    height: 1.2vw;
    margin-right: 0.5vw;
    transform: rotate(-45deg);
    margin-left:0.3vw;
}

/*--------------------- Theme1 ----------------------- */
.Theme1_singleSelect{

}

.Theme1_singleSelect:hover{

}





/*--------------------- Theme2 ----------------------- */
.Theme2_singleSelect{

}


.Theme2_singleSelect:hover{

}





/*--------------------- Theme3 ----------------------- */
.Theme3_singleSelect{

}



.Theme3_singleSelect:hover{

}

