.size72Vw{
    min-width:72vw;    
}

.titleHmself{
    align-self: center;
}


.pageTitle {
    font-size: 3.3vh;
    font-weight: 770;
    display: flex;
    flex-direction: row;
    margin-left: 3.7%;
    margin-bottom: -2.3vh;
}

.classesListTitle{
    margin-left: 3%;
    margin-top: 1.6%;
}

.classesListSelect{
    margin-left: 2.2%;
    margin-top: 3%;
}



.progresBar{
    width:700px;
}

.rowDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 7vh;
    height: 6.7vh;
}

.imageMargin1{
    margin-top: -0.4vw;
    width :3.1vw;
    height:3.1vw;
}

.viewContent {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
}


/*--------------------- Theme1 ----------------------- */
.Theme1_mainContentPosition {
    z-index: 1;
    display : flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: nowrap;
    justify-content:flex-start;
    width:93%;
    height:68.7vh;
    overflow-y: scroll;
    white-space: nowrap;
    border-style: solid;
    border-color: rgb(60, 160, 21);
    border-radius: 7px 7px 7px 7px;
}

/*--------------------- Theme2 ----------------------- */

.Theme2_mainContentPosition {
    scroll-behavior:auto;
    z-index: 1;
    display : flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: nowrap;
    justify-content:flex-start;
    height:68.7vh;
    width:93%;
    overflow-y: scroll;
    white-space: nowrap;
    border-style: solid;
    border-color: rgb(35, 88, 187); ;
    border-radius: 7px 7px 7px 7px;
}

/*--------------------- Theme3 ----------------------- */

.Theme3_mainContentPosition {
    scroll-behavior:auto;
    z-index: 1;
    display : flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: nowrap;
    justify-content:flex-start;
    height:68.7vh;
    width:93%;
    overflow-y: scroll;
    white-space: nowrap;
    border-style: solid;
    border-color: rgb(209, 30, 90);
    border-radius: 7px 7px 7px 7px;
}

@media (min-width: 380px) and (max-width: 900px) {
    .pageTitle{
        font-size: 2.7vw;
        font-weight: 770;
        display: flex;
        flex-direction: row;
        margin-left: 3.7%;
        margin-bottom: -2vw;
    }

    .rowDisplay {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10.7vw;
        height: 5.7vw;
    }
}

/*///////////////////////////////////TELEPHONES/////////////////////////////*/
/*----------------------------horizontalement------------------------------*/
@media screen and (max-height: 420px) {
    .dashBoardRow{
        display:flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid black;
        min-height: 33vh;
    }
    
    .sectionTitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 670;
        align-self: center;
        transform: rotate(-90deg);
        width: 33vh;
        height: 2vw;
        border-style: solid;
        border-width: 1.3px;
        margin-left: -6.7vw;
        font-size: 2vh; 
         /*------------*/
        position:absolute;
        margin-left: -91.3vw;   
        
    } 

    .comboBoxStyle{
        font-weight: 600;
        font-size: 0.97vw;
        height:4.3vh;
        border-radius:1vh;
        border-style:solid;
        border-color: rgb(128, 180, 248);
        border-width: 0.47vh;
        padding-left: 0.7vh !important;
        padding-bottom: 0.7vh !important;  
    }

    .labelTitle{
        font-size: 0.87vw;
        font-weight: 900;
        align-self: flex-start;
        margin-right: 3px;
    }

    .radioSize{
        width:1.7vw
    }

    .tauxCouverture{
        padding-top: 13vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width:20vw;
        height: 0vh;
        margin-left: -7vw;
    }

    
    .assiduite{
        padding-top: 1vh;
        justify-content: center;
        align-items: center;
        width:15vw;
        height: 0vh;
        /* margin-left: -7vw; */
        align-self: center;
    }

        
    .barChartStyle{
        width:20vw;
        height: 23vw;
        justify-content: center;
    }
        
    
    

    .Theme1_mainContentPosition {
        position :absolute;
        top:33vh;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 100vh;
        overflow-y: scroll;
        border-style: solid;
        min-width: 78vw;
        border-radius: 3px 3px 3px 3px;
        overflow-y: scroll;
        
        border-color: rgb(60, 160, 21);
    }
    
}

/*----------------------------Verticalement-----------------------------*/

@media screen and (max-width: 420px) {
    .dashBoardRow{
        display:flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid black;
        min-height: 13vh;
    }

   

    .sectionTitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 670;
        align-self: center;
        transform: rotate(-90deg);
        width: 13vh;
        height: 2vh;
        border-style: solid;
        border-width: 1.3px;
        margin-left: -6.7vw;
        font-size: 2vw; 
         /*------------*/
        position:absolute;
        margin-left: -87.3vw;   
    } 

    .comboBoxStyle{
        font-weight: 600;
        font-size: 0.97vw;
        height:4.3vw;
        border-radius:1vh;
        border-style:solid;
        border-color: rgb(128, 180, 248);
        border-width: 0.47vh;
        padding-left: 0.7vh !important;
        padding-bottom: 0.7vh !important;  
    }

    .labelTitle{
        font-size: 0.87vh;
        font-weight: 900;
        align-self: flex-start;
        margin-right: 3px;
    }

    .radioSize{
        width:1.3vh
    }

    .tauxCouverture{
        /*padding-top: 3vh;*/
        margin-top: -13vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width:7vw;
        
        margin-bottom: 10vh;
        /* display: none;
         */
    }

    .assiduite{
        margin-top: -14vh;
        justify-content: center;
        align-items: center;
        width:7vw;
       /* height: 3vw;*/
       /* display: none;*/
    }


    
    .barChartStyle{
        width:19vh;
        height: 30vw;
        justify-content: center;
    }
        
    

    
   
}

/*/////////////////////////TABLETTES RECTANGULAIRES//////////////////////*/
/*----------------------------horizontalement------------------------------*/
@media screen and (min-width: 900px) {
    .sectionTitle {
        margin-left: -8.53vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 670;
        align-self: center;
        transform: rotate(-90deg);
        width: 33vh;
        height: 2vw;
        border-style: solid;
        border-width: 1.3px;
        font-size: 2vh;   
    }   
}

/*----------------------------Verticalement-----------------------------*/
@media screen and (min-height: 900px) {
    .sectionTitle {       
        margin-left: -12.47vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 670;
        align-self: center;
        transform: rotate(-90deg);
        width: 33vh;
        height: 4vw;
        border-style: solid;
        border-width: 1.3px;       
        font-size: 2vh;   
    }

}