.comboBoxStyle{
    font-weight: 600;
    font-size: 0.97vw;
    height:4.3vh;
    border-radius:1vh;
    border-style:solid;
    border-color: rgb(128, 180, 248);
    border-width: 0.47vh;
    padding-left: 0.7vh !important;
    padding-bottom: 0.7vh !important;  
}

.Mandatory{
    color:red;
    font-size: 2vw;
    font-weight: 800;
    margin-top: -2vh;
}
.gridRowStyle{
    min-height: 5vh !important;
    max-height: 5vh !important;
}

.gridMainRowStyle{
    min-height: 5vh !important;
    max-height: 5vh !important;
    font-weight: 700;

}


.GridColumnStyle{
    /*background-color: rgb(137, 138, 137);*/
    background-color: rgb(6, 83, 134);
    color:white;
    height:5vh;
    min-width: 33px !important;
}

.photoZone{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.photoFileName{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    font-size: 0.9vw;
    font-weight: 700;
}

.errorMsg {
    min-width: 80%;
    width:fit-content;
    height: fit-content;
    border-radius: 5px;
    border-style: solid;
    border-width: 2.3px;
    border-color: red;
    background-color: rgba(236, 44, 37,0.8);
    /*color: rgb(243, 163, 72);*/
    color:rgb(252, 250, 165);
    font-size: 0.9vw;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*overflow-wrap: break-word;*/
}

.inputRow {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}

.inputRowLeft {
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-self: center;
    width:100%;
}

.inputRowLabel {
    width:12vw;
    font-weight: 555;
    font-size: 1vw;
}

.inputRowControl {
    width:35vw;
    height:5px;   
}

.formStyle {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.buttonRow {    
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width: 80%;
    margin-top: 7px;
    margin-bottom: 7px;
}

.btnTextStyle {
    display:flex;
    flex-direction: row;
    justify-content:center;
    color: rgb(236, 238, 234);
    font-size: 1vw;
    font-weight: 555;
    
}

.widgetIcon{
    width:5vw;
    height:4.5vw;
}

.photoStyle {
    border-radius: 8px;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
    align-self: center;
    /*margin-top: 7px;*/
}

.imgStyle{
    position: relative;
    width:1.3vw;
    height: 1.3vw;
    margin-right: 5px;
}

.space {
    width:2vh;
}

.etabLogo{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   
    align-self: center;
    margin-top: 7px;
    margin-bottom: 7px;
    align-self: flex-start;
    width:9vw;
   
}

.logoImg{
    width:8.7vw;
    height:7.9vw;
    border-radius: 8px;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
}


.btnSmallTextStyle {
    display:flex;
    flex-direction: row;
    justify-content:center;
    color: rgb(236, 238, 234);
    font-size: 0.7vw;
    font-weight: 555;
    padding: 2px;
}

.gridTitle {
    font-weight: 800;
    font-size: 0.87vw;
    align-self: flex-end;
}

.gridAction {
    align-self: flex-start;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:15vw;
}

.gridTitleRow {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    /*border-bottom-color: rgb(60, 160, 21);;*/

}

.tableCell{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width:10px;
    /*height: 12px;  */
}

.cellPointer {
    cursor: pointer;
}

.gridMainColumn{
   font-weight: 700;
   font-size: 0.87vw;
}

.gridSimpleColumn{
    font-weight: 500;
    font-size: 0.87vw;
 }

.formTitle {
    font-weight: 800;
    font-size: 0.97vw;
    align-self: center;
    border-bottom-style:solid ;
    border-bottom-width:2px ;
    /*border-bottom-color:green;*/
    /*color: green;*/
 
}

.formModal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:37vw;
    border-style: solid;
    border-radius: 5px;
    border-width: 1.7px;
    position:relative;
    /*z-index: 1;*/
    background-color: white;
    margin-bottom: 10px;
}


/************************ THEME 1 ***********************/
.Theme1_BtnstyleSmall{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-self: center;
    border-radius: 3.3px;
    width:auto;
    height:20px;
    background-color: rgb(60, 160, 21);
  
    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
    margin-bottom: 7px;
    margin-top: 7px;

}

.Theme1_BtnstyleSmall:hover {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-self: center;
    border-radius: 3.3px;
    width:auto;
    height:20px;
    background-color: rgb(14, 94, 199);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
    margin-bottom: 7px;
    margin-top: 7px;

}


.Theme1_BtnstyleConfig {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 4.3px;
    /*border-color: rgb(111, 112, 111);
    border-width: 1.7px;
    border-style: solid;*/
    width:7vw;
    height:30px;
    background-color: rgb(60, 160, 21);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213); 
}


.Theme1_Btnstyle {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 4.3px;
    /*border-color: rgb(111, 112, 111);
    border-width: 1.7px;
    border-style: solid;*/
    width:7vw;
    height:30px;
    background-color: rgb(60, 160, 21);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
   
}

.Theme1_Btnstyle:hover {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4.3px;
    width:7vw;
    height:30px;
    background-color: rgb(14, 94, 199);
  

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
}

/************************ THEME 2 ***********************/

.Theme2_BtnstyleSmall{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-self: center;
    border-radius: 3.3px;
    width:auto;
    height:20px;
    background-color: rgb(35, 88, 187);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
    margin-bottom: 7px;
    margin-top: 7px;

}

.Theme2_BtnstyleSmall:hover{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-self: center;
    border-radius: 3.3px;
    width:auto;
    height:20px;
    background-color: rgb(60, 160, 21);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
    margin-bottom: 7px;
    margin-top: 7px;

}


.Theme2_BtnstyleConfig {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 4.3px;
    /*border-color: rgb(111, 112, 111);
    border-width: 1.7px;
    border-style: solid;*/
    width:7vw;
    height:30px;
    background-color: rgb(35, 88, 187);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
   
}

.Theme2_Btnstyle {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4.3px;
    /*border-color: rgb(111, 112, 111);
    border-width: 1.7px;
    border-style: solid;*/
    width:7vw;
    height:30px;
    background-color: rgb(35, 88, 187);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);

}

.Theme2_Btnstyle:hover {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4.3px;
    /*border-color: rgb(111, 112, 111);
    border-width: 1.7px;
    border-style: solid;*/
    width:7vw;
    height:30px;
    background-color: rgb(60, 160, 21);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
}


/************************ THEME 3 ***********************/

.Theme3_BtnstyleSmall{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-self: center;
    border-radius: 3.3px;
    width:auto;
    height:20px;
    background-color: rgb(209, 30, 90);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
    margin-bottom: 7px;
    margin-top: 7px;

}


.Theme3_BtnstyleSmall:hover {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-self: center;
    border-radius: 3.3px;
    width:auto;
    height:20px;
    background-color: rgb(64, 49, 165);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
    margin-bottom: 7px;
    margin-top: 7px;

}


.Theme3_BtnstyleConfig {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 4.3px;
    /*border-color: rgb(111, 112, 111);
    border-width: 1.7px;
    border-style: solid;*/
    width:7vw;
    height:30px;
    background-color: rgb(209, 30, 90);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213);
}


.Theme3_Btnstyle {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4.3px;
    /*border-color: rgb(174, 179, 174);
    border-width: 1.7px;
    border-style: solid;*/
    width:7vw;
    height:30px;
    background-color: rgb(209, 30, 90);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213); 

}

.Theme3_Btnstyle:hover {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4.3px;
    /*border-color: rgb(174, 179, 174);
    border-width: 1.7px;
    border-style: solid;*/
    width:7vw;
    height:30px;
    background-color: rgb(64, 49, 165);

    -moz-box-shadow: -2px -2px 2px #aaa; 
    -webkit-box-shadow: -2px -2px 2px  #aaa; 
    box-shadow: -2px -2px 2px rgb(216, 213, 213); 
}

